.productsListWrapper {
    padding: 5px;
    border-radius: 15px;
    background-color: #E6EDFC;
}

.bodyPetRoomArrowWrapper {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: #E6EDFC;
}

.bodyPetRoomCategoryHeadline {
    font-family: "headline";
    font-size: 18px;
    font-weight: 700;
}

.bodyPetRoomCategoryHeadlineWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 10px 0;
}