.childHome {
    margin-top: 20px;

}

.helloChildWrapper {
    padding: 0 20px;
}

.metricAndAvatar {
    position: relative;

    margin-top: 20px;
    padding: 0 20px;
}
.metricWrapper {
    display: flex;

}

.avatarWrapper {
    position: absolute;
    right: 4px;
    top: -78px;


    border-radius: 50%;

    overflow: hidden;
}


.tasksAndChallengesWrapper {
    margin-top: 174px;
}