.tasksAndChallenges {
    background-color: #fff;
    padding: 30px;

    border-radius: 20px 20px;
}

.contentWrapper {
    background-color: #E6EDFC;

    padding: 10px 10px 0 10px;

    border-radius: 10px 10px 0 0;
}
