.tasksAndChallenges {
    background-color: #fff;
    padding: 0 20px;

    border-radius: 20px 20px 0 0;
}

.contentWrapper {
    background-color: #E6EDFC;

    padding: 10px 10px 0 10px;

    border-radius: 10px 10px 0 0;
}
