.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.authWrapper {
    height: 100vh;

    background-color: #4272EA;
}

.authAvatarWrapper {
    width: 330px;
    height: 330px;

    margin: 20px 0 80px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background-color: rgba(255, 255, 255, .13);
}

.authHeadlineWrapper {
    text-align: center;
}

.authHeadline {
    color: #fff;
    font-weight: 600;
    font-size: 26px;
}



.authReg {
    display: inline-block;

    padding: 15px 25px;

    border-radius: 15px;

    color: #5B84ED;
    text-decoration: none;

    background-color: #fff;
}

.authLoginWrapper {
    margin-top: 10px;
}

.authLogin {
    font-size: 14px;
    color: #fff;
}

.authLoginLink {
    color: #ED985B;
    font-weight: 600;
    text-decoration: none;
}