
.regInputItem {
    margin-bottom: 20px;
}

.regInputTitle {
    font-size: 14px;
    font-weight: 500;
}

.regInputField {
    position: relative;

    width: 100%;
    height: 5.5vh;
    margin-top: 10px;
}

.regInput {
    width: 100%;
    height: 100%;

    padding: 0 10px;

    box-sizing: border-box;

    border-radius: 12px;
    border: none;

    background-color: #F4F4F4;

    font-size: 12px;
    color: #000;
}

.eyes {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;

    display: flex;
    align-content: center;
    justify-content: center;
}

.eyeDNone {
    display: none;
}
