.header {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: space-between;

    width: 78%;

    padding: 4px 10px;
    border-radius: 15px;

    background-color: #fff;
}

.categoryWrapper {
    width: 45%;
    display: flex;
    justify-content: center;

    padding: 4px;

    border-radius: 10px;

}

.selectCategory {
    background-color: #5B84ED;
}


.addNotificationsWrapper {
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background-color: #fff;
}

.category {
    font-size: 12px;
}

.bodyWrapper {
    margin-top: 10px;;
    padding: 15px;

    border-radius: 10px;

    background-color: #E6EDFC;
}

.categoryItemWrapper {
    margin: 5px 0;
    padding: 8px 10px;

    border-radius: 10px;

    background-color: #fff;
}

.categoryItemWrapperMarginBottom {
    margin-bottom: 10px;
}

.categoryItemWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoryContent {
    display: flex;
    flex-direction: column;
}


.categoryTitle {
    font-size: 14px;
    margin-bottom: 3px;
}

.categorySubTitle {
    font-size: 12px;
    color: #707070;
}

.categoryCheckWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;

    border-radius: 7px;

    background-color: #E6EDFC;
}

.categoryCheck {
    width: 20px;
}

.bringBackWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 15px;
    padding: 10px;

    border-radius: 15px;

    background-color: #ED985B;
}

.bringBackIcon {
    margin-right: 5px;
}

.bringBack {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}