.loginWrapper {
    background-color: #4272EA;
    height: 100vh;
}

.loginAvatarWrapper {
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.loginAvatar {
    width: 270px;
    height: auto;

    margin-bottom: 10px;
}

.loginFieldsContent {
    box-sizing: border-box;
    height: 50vh;
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    padding: 20px
}
.orWrapper {
    display: flex;
    justify-content: center;

    margin: 15px 0;
}

.or {
    font-size: 14px;
    font-weight: 500;
}

.logIntegrationsWrapper {
}

.logIntegrationsWrapper {
    display: flex;
    justify-content: center;
}

.logIntegration {
    width: 40px;
    height: 40px;
    
    margin: 0 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #F4F4F4;

    border-radius: 8px;
}



.logIntegrationIcon {
    width: 25px;
}

.haveAccountWrapper {
    margin-top: 15px;

    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.haveAccountLink {
    font-weight: 500;
    color: #ED985B;
    text-decoration: none;
}

.logButtonWrapper {
    width: 100%;

    display: flex;

    border-radius: 10px;

    cursor: pointer;
}

.logButtonActive {
    color: #fff;
    background-color: #5B84ED;

}

.logButton {
    width: 100%;

    display: block;

    padding: 10px 0;

    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #fff;


    border-radius: 12px;
}

.logButtonActive {
    color: #fff;
    background-color: #5B84ED;

}